.error404 {
    background-color: var(--black);

    .error {
        height: 80vh;

        .container {
            display: flex;
            flex-direction: column;
            gap: 16px;
            align-items: center;
            justify-content: center;
            height: 100%;

            p {
                color: var(--white);
            }

            a {
                margin-top: 24px;
            }
        }
    }
}